@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
li.header {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

img.logo {
    height: 100px;
}

div.book_actions {
    margin: 32px;
    display: flex;
    flex-direction: column;
}
a.book_action {
    background-color: black;
    border-radius: 16px;
    width: 100px;
    color: white;
    padding: 8px;
    text-align: center;
    margin: 16px;
}

/* Book List */
div.book_list_container {
    width: 100%;
}
button.order {
    background: none;
    color: black;
}

p.book_list_header {
    margin: 16px;
    font-size: 18px;
}
p.book_list_header_categories {
    margin: 16px;
    font-size: 18px;
    width: 430px;
}
div.book_list_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
div.book_list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
li.book_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 350px;
    width: 100%;
}
a.book_list_item {
    width: 100%;
}
p.book_list_title {
    font-size: 20px;
    margin: 16px;
}
p.book_list_author {
    margin: 16px;
    font-size: 18px;
}
p.book_list_date {
    font-size: 18px;
}
p.book_list_category {
    font-size: 18px;
}
img.book_list_image {
    width: 200px;
}

/* Book View */
div.book_view {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.book_view_content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    width: 500px;
}
p.book_view_title {
    font-size: 24px;
    width: 500px;
}
p.book_view_description {
    font-size: 18px;
}
img.book_view_image {
    margin-bottom: 16px;
    width: 500px;
}