<div>
    <div id="df-content" ></div>
    Thanks for visiting our store!
    <br />
    You can visit our @home at Doofinder
    <br />
    <br />
    Here we have some recommendations for you
    <script src="//cdn.doofinder.com/recommendations/js/doofinderRecommendation.min.js"></script>
<df-recommendations
    hashid="2d5d9b304cb7b20b5040b317d4c40622"
    total-products="10"
></df-recommendations>  
</div>